
body {
    color: black;
}
.paintedtop {
    background-color: green;
    height: 10px;
}
.content {
    padding-top: 10px;
    padding-bottom: 40px;
}
.page-header {
    padding-top: 5px;
    margin: 0px 0px 5px;
    border-bottom: 1px solid #eeeeee;
}
.hero-unit {
    margin: 20px 0px 20px;
}
.row-fluid {
}
.lead {
    margin-bottom: 10px;
}
.media-body {
    padding-left: 30px;
}
.well {
    margin-top: 2px;
    margin-bottom: 6px;
    padding: 8px;
}
.break {
    margin-bottom: 15px;
}
.not-a-well {
    margin-top: 5px;
    margin-bottom: 6px; 
    color: black;
}

.not-a-well small {
    color: black;
}
